input[type=button][name*="lfwwh_"],
.lfwwh_form_buttons input[type=submit],
.lfwwh_form_buttons input[type=button] {
	padding: 3px 4px;
}

.lfwwh_form_buttons {
	display: flex;
}

.lfwwh_col_left {
	flex-basis: 25%;
	text-align: left;
}

.lfwwh_col_center {
	flex-basis: 50%;
	text-align: center;
	font-size: 0.9em;
}

.lfwwh_col_right {
	flex-basis: 25%;
	text-align: right;
}

.lfwwh_back_to_top {
	font-size: 1.3em;
}

.lfwwh_back_to_top:hover {
	text-decoration: none;
}

.lfwwh_copyright {
	margin-top: 1em;
	text-align: center;
	font-size: .75em;
}

legend {
	top: 0;
	margin-left: -11px;
	padding: 2px 10px;
	border-radius: 5px 5px 0 0;
	border-top: inherit;
	border-left: inherit;
	background-color: inherit;
}

@media (max-width: 700px) {
	legend {
		margin-left: -6px;
		padding: 2px 5px;
	}

	#lfwwh_form dd {
		margin-top: .5em;
	}
}
