.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 38px;
	height: 17px;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
	font-family: FontAwesome;
}

.toggle:before {
	position: absolute;
	width: 14px;
	height: 13px;
	background-color: #ffffff;
	top: 2px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 22px;
	content: "\f00d";
}

.toggle,
.toggle:hover,
.toggle:focus {
	background-color: #aa0000;
	border: none;
	color: #000000;
}

.toggle:checked {
	background-color: #3fa651;
}

.toggle:checked:before {
	left: 2px;
	content: "\f00c";
}
