input[type=button][name*="lfwwh_"],
.lfwwh_form_buttons input[type=submit],
.lfwwh_form_buttons input[type=button] {
	padding: 3px 4px;
}

.lfwwh_form_buttons {
	display: flex;
}

.lfwwh_col_left {
	flex-basis: 25%;
	text-align: left;
}

.lfwwh_col_center {
	flex-basis: 50%;
	text-align: center;
	font-size: 0.9em;
}

.lfwwh_col_right {
	flex-basis: 25%;
	text-align: right;
}

.lfwwh_back_to_top {
	font-size: 1.3em;
}

.lfwwh_back_to_top:hover {
	text-decoration: none;
}

.lfwwh_copyright {
	margin-top: 1em;
	text-align: center;
	font-size: .75em;
}

legend {
	top: 0;
	margin-left: -11px;
	padding: 2px 10px;
	border-radius: 5px 5px 0 0;
	border-top: inherit;
	border-left: inherit;
	background-color: inherit;
}

.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 38px;
	height: 17px;
	position: relative;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	background-color: #AA0000;
	vertical-align: middle;
	margin: 2px 2px 5px 2px;
	font-family: FontAwesome;
}

.toggle:before {
	position: absolute;
	width: 14px;
	height: 13px;
	background: #fff;
	top: 2px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 22px;
	content: "\f00d";
}

.toggle:hover,
.toggle:focus {
	background-color: #AA0000;
	border: none;
	color: #000000;
}

.toggle:checked {
	background-color: #3FA651;
}

.toggle:checked:before {
	left: 2px;
	content: "\f00c";
}

@media (max-width: 700px) {
	legend {
		margin-left: -6px;
		padding: 2px 5px;
	}

	#lfwwh_form dd {
		margin-top: .4em;
	}
}
