.lfwwh_copyright {
	margin-top: 1em;
	text-align: center;
	font-size: .75em;
}

.lfwwh_form_buttons input[type=submit],
.lfwwh_form_buttons input[type=button] {
	padding: 3px 4px;
}

.lfwwh_form_buttons {
	display: flex;
}

.lfwwh_col_left {
	flex-basis: 25%;
	text-align: left;
}

.lfwwh_col_center {
	flex-basis: 50%;
	text-align: center;
	font-size: 0.9em;
}

.lfwwh_col_right {
	flex-basis: 25%;
	text-align: right;
}
