* text=auto
* text eol=lf
.editorconfig export-ignore
.gitattributes export-ignore
lf-who-was-here-2_build_changelog.md export-ignore
lf-who-was-here-2_changelog.md export-ignore
lf-who-was-here-2_version.json export-ignore
LICENSE export-ignore
