{% if WWH_TOTAL && WWH_POS == 1 && !WWH_API_MODE %}
<div class="stat-block online-list">
	<h3>{{ lang('WWH_TITLE') }}</h3>
	<p>
		<i class="fa fa-sign-in"></i> {{ WWH_TOTAL }} ({{ WWH_EXP }})<br />
		{% if WWH_RECORD %}<i class="fa fa-tachometer"></i> {{ WWH_RECORD }}<br />{% endif %}
		{% if WWH_LIST %}<br /><i class="fa fa-group"></i> {{ WWH_LIST }}{% endif %}
		{% if WWH_BOTS %}<br /><i class="fa fa-cogs"></i> {{ WWH_BOTS }}{% endif %}
	</p>
</div>
{% INCLUDEJS '@bb3mobi_washere/who_was_here.js' %}
{% endif %}
