services:
    lukewcs.whowashere.core:
        class: lukewcs\whowashere\core\who_was_here
        arguments:
            - '@template'
            - '@config'
            - '@user'
            - '@auth'
            - '@cache.driver'
            - '@dbal.conn'
            - '@dispatcher'
            - '@language'
            - '%core.table_prefix%'
            - '%core.php_ext%'
    lukewcs.whowashere.core.common:
        class: lukewcs\whowashere\core\who_was_here_common
        arguments:
            - '@language'
            - '@template'
            - '@ext.manager' 
    lukewcs.whowashere.listener:
        class: lukewcs\whowashere\event\listener
        arguments:
            - '@lukewcs.whowashere.core'
        tags:
            - { name: event.listener }
    lukewcs.whowashere.controller.acp:
        class: lukewcs\whowashere\controller\acp_who_was_here_controller
        arguments:
            - '@lukewcs.whowashere.core.common'
            - '@language'
            - '@template'
            - '@request'
            - '@config'
            - '@user'
            - '@cache.driver'
            - '@ext.manager' 
