<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner">
							{{ lang('LFWWH_TITLE') }}
						</div>
					</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<dt title="{{ lang('LFWWH_TITLE') }}">
					<div class="list-inner2">
						<dl class="row-item" style="background-image: url({T_THEME_PATH}/images/member.gif); background-repeat: no-repeat; padding-left: 50px;">
							<p>
								<i class="fa fa-sign-in"></i> {{ LFWWH_TOTAL }} ({{ LFWWH_EXP }})<br />
								{% if LFWWH_RECORD %}<i class="fa fa-tachometer"></i> {{ LFWWH_RECORD }}<br />{% endif %}
								{% if LFWWH_LIST %}<br /><i class="fa fa-group"></i> {{ LFWWH_LIST }}{% endif %}
								{% if LFWWH_BOTS %}<br /><i class="fa fa-cogs"></i> {{ LFWWH_BOTS }}{% endif %}
							</p>
						</dl>
					</div>
				</dt>
			</li>
		</ul>
	</div>
</div>
