{% if WWH_TOTAL && WWH_POS == 0 && !WWH_API_MODE %}
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner">
							{{ lang('WWH_TITLE') }}
						</div>
					</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<dt title="{{ lang('WWH_TITLE') }}">
					<div class="list-inner2">
						<dl class="row-item" style="background-image: url({T_THEME_PATH}/images/member.gif); background-repeat: no-repeat; padding-left: 50px;">
							<p>
								<i class="fa fa-sign-in"></i> {{ WWH_TOTAL }} ({{ WWH_EXP }})<br />
								{% if WWH_RECORD %}<i class="fa fa-tachometer"></i> {{ WWH_RECORD }}<br />{% endif %}
								{% if WWH_LIST %}<br /><i class="fa fa-group"></i> {{ WWH_LIST }}{% endif %}
								{% if WWH_BOTS %}<br /><i class="fa fa-cogs"></i> {{ WWH_BOTS }}{% endif %}
							</p>
						</dl>
					</div>
				</dt>
			</li>
		</ul>
	</div>
</div>
{% INCLUDEJS '@bb3mobi_washere/who_was_here.js' %}
{% endif %}