<div class="stat-block whowashere-list">
	<h3>{{ lang('LFWWH_TITLE') }}</h3>
	<p>
		{% if lfwwh_pos_hint %}
			<span class="lfwwh_pos_hint">{{ lang('LFWWH_TEMPLATE_POS') ~ lang('COLON') ~ ' ' ~ lfwwh_pos_hint }}</span><br>
		{% endif %}

		{% if LFWWH_STATS %}
			{{ LFWWH_STATS }} ({{ LFWWH_EXP }})<br>
		{% endif %}

		{% if LFWWH_RECORD %}
			{{ LFWWH_RECORD }}<br>
		{% endif %}

		{{ (LFWWH_STATS || LFWWH_RECORD) && (LFWWH_USERS || LFWWH_BOTS) ? '<br>' }}

		{% if LFWWH_USERS %}
			{{ lang('LFWWH_USERS_PREFIX') ~ lang('COLON') }} {{
				LFWWH_USERS_INFO_BUTTON ? _self.info_button('info_users', LFWWH_USERS_INFO_BUTTON) ~ ' '
			}}{{ LFWWH_USERS }}{{
				LFWWH_USERS_ALL_BUTTON ? ' ' ~ _self.all_button('all_users')
			}}<br>
		{% endif %}

		{% if LFWWH_BOTS %}
			{{ lang('LFWWH_BOTS_PREFIX') ~ lang('COLON') }} {{
				LFWWH_BOTS_INFO_BUTTON ? _self.info_button('info_bots', LFWWH_BOTS_INFO_BUTTON) ~ ' '
			}}{{ LFWWH_BOTS }}{{
				LFWWH_BOTS_ALL_BUTTON ? ' ' ~ _self.all_button('all_bots')
			}}<br>
		{% endif %}
	</p>
</div>

{% macro info_button(buttontype, infotype) -%}
	{%- set icon = (infotype == 2) ? 'fa-info-circle' : 'fa-clock-o' -%}
	<span class="lfwwh_button_{{ buttontype }}" style="opacity: 0.5;"><i class="icon {{ icon }}" title="{{ lang('LFWWH_SHOW_INFO_TOOLTIP')|e('html') }}"></i></span>
{%- endmacro %}

{% macro all_button(buttontype) -%}
	<span class="lfwwh_prefix_{{ buttontype }}">... </span><span class="lfwwh_button_{{ buttontype }}" style="opacity: 0.5;"><i class="icon fa-expand fa-flip-horizontal" title="{{ lang('LFWWH_SHOW_ALL_TOOLTIP')|e('html') }}"></i></span>
{%- endmacro %}
