<div class="stat-block online-list">
	<h3>{{ lang('LFWWH_TITLE') }}</h3>
	<p>
		{% if LFWWH_TOTAL %}
			<i class="fa fa-sign-in"></i> {{ LFWWH_TOTAL }} ({{ LFWWH_EXP }})<br />
			{% if LFWWH_RECORD %}<i class="fa fa-tachometer"></i> {{ LFWWH_RECORD }}<br />{% endif %}
			{{ (LFWWH_LIST || LFWWH_BOTS) ? '<br />' }}
		{% endif %}
		{% if LFWWH_LIST %}<i class="fa fa-group"></i> {{ LFWWH_LIST }}<br />{% endif %}
		{% if LFWWH_BOTS %}<i class="fa fa-cogs"></i> {{ LFWWH_BOTS }}<br />{% endif %}
	</p>
</div>
